* {
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: "Sora";
    font-style: normal;
    --primary-color: #2e80ce;
    --white-color: #ffffff;
    --bold-primary-color: #10375c;
    --light-black-color: #575f66;
}

body {
    font-size: 1.6rem;
    --white-filter: invert(100%) sepia(6%) saturate(7481%) hue-rotate(58deg)
        brightness(121%) contrast(108%);
    --primary-color-filter: invert(29%) sepia(97%) saturate(913%)
        hue-rotate(183deg) brightness(116%) contrast(77%);
    --services-normal-filter: invert(100%) sepia(51%) saturate(1846%)
        hue-rotate(178deg) brightness(105%) contrast(98%);
}

/* ==================== common ==================== */
.btn {
    min-width: 104px;
    border-radius: 30px;
    background-color: var(--primary-color);
    border: var(--primary-color) solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 12px;
}

.btn:hover,
.btn--hover {
    cursor: pointer;
    opacity: 0.9;
    background-color: var(--white-color);
    color: var(--bold-primary-color);
}

/* brand icon  */

.row {
    display: flex;
}
.content {
    width: 1170px;
    max-width: calc(100vw - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--white-color);
}
img {
    display: inline-block;
}
.circle-icon {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: var(--bold-primary-color);
}
/* ==================== header ==================== */
.header {
    background: var(--bold-primary-color);
    padding-top: 20px;
    top: -20px;
}
.header--sticky {
    position: sticky;
    z-index: 1;
}
.header__content {
    align-items: center;
    padding: 10px 0px;
}
.header__navbar {
    margin-left: 8px;
}

.navbar__item {
    font-weight: 300;
    color: #c9d2da;
    cursor: pointer;
}

.navbar__item:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

.point {
    margin-left: 304px;
    width: 6px;
    height: 6px;
    background: #ffffff;
    border-radius: 50%;
}
.navbar__item + .navbar__item {
    margin-left: 42px;
}

.Log-In {
    margin-left: 222px;
}

.header__btn {
    margin-left: auto;
    min-width: 104px;
    padding: 13px 12px;
}

/* ==================== hero ==================== */
.hero {
    background: var(--bold-primary-color);
    padding-top: 76px;
    padding-bottom: 110px;
}

.hero__content {
    align-items: center;
    gap: 113px;
}
.hero__detail {
    width: 44.2%;
}
.hero__title {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #ffffff;
    margin-bottom: 22px;
}
.hero__desc {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
    margin-bottom: 38px;
}
.hero__contact-block {
    gap: 38px;
    align-items: center;
}
.hero__contact-block_btn {
    min-width: 205px;
    padding: 21px 12px;
}

.hero__contact-block__number {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #ffffff;
}

.hero__image-block {
    width: 45.65%;
    position: relative;
}

.hero__image-block__image-1,
.hero__image-block__image-2 {
    object-fit: cover;
    border-radius: 6px;
}

.hero__image-block__image-1 {
    width: 61.8%;
    height: 540px;
}

.hero__image-block__image-2 {
    position: absolute;
    bottom: 65px;
    right: 3px;
    width: 39.3%;
    height: 75.93%;
}

/* ==================== services ==================== */
.services {
    padding: 170px;
}

.services__title {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--bold-primary-color);
}
.services__desc {
    width: 470px;
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: var(--light-black-color);
}
.services__row {
    margin-top: 70px;
    align-items: center;
    justify-content: space-between;
}

.services__image {
    width: 48.72%;
    height: 570px;
    object-fit: cover;
}

.services__detail {
    width: 51.28%;
}

.services__panel {
    margin-left: 130px;
}

.services__list {
    padding: 20px;
}

.services__list_icon {
    width: 60px;
    height: 60px;
    background: #eff6fd;
    margin-right: 19px;
    flex-shrink: 0;
    color: var(--bold-primary-color);
    background: var(--white-color);
}

.services__panel div:nth-of-type(1):hover .services__list_icon,
.services__panel div:nth-of-type(2):hover .services__list_icon,
.services__panel div:nth-of-type(3):hover .services__list_icon {
    color: var(--white-color);
    background: var(--primary-color);
}

.services__panel > div:nth-of-type(1):hover,
.services__panel > div:nth-of-type(2):hover,
.services__panel > div:nth-of-type(3):hover {
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}

.services__list__title {
    font-weight: 600;
    font-size: 1.8rem;
    color: #10375c;
}

.services__list__desc {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
    margin-top: 8px;
}

.services-btn {
    margin-top: 75px;
    min-width: 205px;
}

.services-btn {
    width: 205px;
    padding: 21px 12px;
}
/* ==================== how-to ==================== */

.how-to {
    padding: 100px 0px;
    background: var(--white-color);
}

.how-to__title {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    color: var(--bold-primary-color);
}
.how-to__desc {
    width: 470px;
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 30px;
}

.how-to__row {
    margin-top: 70px;
    gap: 30px;
}

.how-to__row__item {
    border: 16px solid var(--primary-color);
    padding: 43px 42px;
    flex: 1;
}

.row__item_image {
    width: 67.52px;
}
.row__item_title {
    margin-top: 20.25px;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1.38;
    color: var(--bold-primary-color);
}
.row__item_desc {
    margin-top: 28px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--light-black-color);
}
.row__item_link {
    font-weight: 400;
    font-size: 1.6;
    line-height: 1.75;
    color: var(--light-black-color);
    margin-top: 18px;
}

.row__item_link:hover {
    color: var(--primary-color);
}

/* ==================== Features ==================== */

.features {
    padding: 170px 0px;
}

.features__content {
    align-items: center;
    justify-content: space-between;
}
.features__thumb {
    width: 48.72%;
    height: 491px;
    position: relative;
    flex-shrink: 0;
}

.features__image {
    object-fit: cover;
    height: 75.36%;
    display: block;
}

.features__image--1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 89.83%;
    flex-shrink: 0;
}

.features__image--2 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 58.25%;
    flex-shrink: 0;
}

.features__detail {
    width: 40.18%;
}

.features__title {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: var(--bold-primary-color);
}
.features__desc {
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--light-black-color);
}

.features__btn {
    width: 205px;
    min-width: 205px;
    margin-top: 38px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--white-color);
}

/* ==================== Members ==================== */

.members__title {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: var(--bold-primary-color);
    text-align: center;
}

.members__btn {
    margin-top: 38px;
    margin-bottom: 70px;
    min-width: 205px;
    width: 205px;
}
.members__list {
    gap: 34px;
}
.members__members-image {
    width: 262px;
    height: 290px;
    object-fit: cover;
    border-radius: 6px;
}

.members__detail {
    margin-top: 12px;
}

.members__sub-title {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: var(--bold-primary-color);
}

.members__desc {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: var(--light-black-color);
}

.members__nav {
    margin-top: 38px;
    width: 90px;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.members__nav-left,
.members__nav-right {
    width: 36px;
    height: 36px;
    color: var(--white-color);
    background: var(--bold-primary-color);
    border: 1px solid var(--bold-primary-color);
}

.members__nav-left:hover,
.members__nav-right:hover {
    color: var(--light-black-color);
    background: var(--white-color);
    border: 1px solid var(--light-black-color);
}
/* ================ app ================ */

.app {
    margin-top: 265px;
}

.app__content {
    background: var(--primary-color);
    position: relative;
    height: 427px;
}

.app__image {
    position: absolute;
    left: 70px;
    bottom: 0;
}

.app__detail {
    width: 586px;
    margin-left: auto;
    padding-right: 70px;
    margin-top: auto;
    margin-bottom: auto;
}

.app__title {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: var(--white-color);
}
.app__desc {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--white-color);
    margin-top: 18px;
}

.app__download {
    margin-top: 38px;
}

.download__link + .download__link {
    margin-left: 28px;
}
